@model MyCabinetViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title1</title>


    <link rel="stylesheet" media="screen" href="~/css/vendor.min.css">
    <link rel="stylesheet" media="screen" id="main-styles" href="~/css/theme.min.css">
    <link rel="stylesheet" media="screen" href="~/css/customizer.min.css">

</head>
<body>
    <div class="offcanvas offcanvas-reverse" id="offcanvas-cart">
        <div class="offcanvas-header d-flex justify-content-between align-items-center">
            <h3 class="offcanvas-title">Ваш кошик</h3>
            <button class="close" type="button" data-dismiss="offcanvas" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        @if (Model.ShopCarts.listShopItems.Count != 0)
        {
            <div class="offcanvas-body">
                <div class="offcanvas-body-inner">
                    <div class="text-right"><a asp-controller="ShopCart" asp-action="deleteItemAll">Очистити кошик</a></div>
                    <div class="widget widget-featured-entries pt-3">
                        @{
                            foreach (var item in Model.ShopCarts.listShopItems)
                            {
                                <div class="media">
                                    <div class="featured-entry-thumb mr-3"><a asp-controller="Item/" asp-action="Index" asp-route-name="@item.Goods.name"><img src="@Url.Content("~/img/" + item.Goods.img)" width="64" alt="@item.Goods.name"></a></div>
                                    <div class="media-body">
                                        <h6 class="featured-entry-title"><a asp-controller="Item/" asp-action="Index" asp-route-name="@item.Goods.name">@item.Goods.name</a></h6>
                                        <p class="featured-entry-meta">@item.Goods.price.ToString("C")</p>

                                    </div>
                                </div>
                            }
                        }
                        <hr>
                        <div class="d-flex justify-content-between align-items-center py-3">
                            <div class="font-size-sm"> <span class="mr-2">Разом:</span><span class="font-weight-semibold text-dark">@Model.Price.ToString("C")</span></div>
                            <a class="btn btn-outline-secondary btn-sm" asp-controller="ShopCart" asp-action="Index">Редагувати кошик</a>
                        </div>
                        <a class="btn btn-primary btn-sm btn-block" asp-controller="ShopCart" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-1"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>Оформити замовлення</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="offcanvas-body">
                <div class="offcanvas-body-inner">
                    <div class="widget widget-featured-entries pt-3">
                        <h3>Порожній!</h3>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home/Top" asp-action="Index">ShopHW</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarResponsive" style="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Goods/List" asp-action="index">Головна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ShopCart" asp-action="Index">Кошик</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакти</a>
                    </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav ml-auto">
                    </ul>
                    <div class="navbar-btns">
                        <div class="navbar-btns-inner">
                            <a class="navbar-btn" href="#offcanvas-cart" data-toggle="offcanvas">
                                <span class="d-block position-relative">
                                    <span class="navbar-btn-badge bg-primary text-light">@Model.ShopCarts.listShopItems.Count</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart mx-auto mb-1">
                                        <circle cx="9" cy="21" r="1"></circle>
                                        <circle cx="20" cy="21" r="1"></circle>
                                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                    </svg>@if (Model.Price != 0)
                                    {
                                        @Model.Price.ToString("C")
                                    }
                                </span>
                            </a>
                        </div>
                    </div>
                }
                else
                {

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Реєстрація</a>
                        </li>
                        <li class=nav-item>
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Ввійти</a>
                        </li>
                    </ul>
                }

            </div>
        </div>
    </nav>

    <div class="container pt-lg-3 pb-5 mb-sm-4">
        <div class="row pt-5">
            <!-- Sidebar-->
            <div class="col-xl-3 col-lg-4">
                <!-- Customer picture--><a class="gallery-item mb-grid-gutter mx-auto" href="#" style="max-width: 18.75rem;">
                    <img src="~/testPhoto.jpg" alt="Daniel Adams">
                    <div class="gallery-caption">
                        <div class="gallery-indicator"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-ccw gallery-indicator-icon"><polyline points="1 4 1 10 7 10"></polyline><polyline points="23 20 23 14 17 14"></polyline><path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15"></path></svg></div>Change profile picture
                    </div>
                </a>
                <!-- Technical support + Tickets (visible Desktop)-->

                <div class="d-none d-lg-block">
                    <h6 class="font-size-sm mb-3 pb-2 border-bottom">Технічна підтримка</h6>
                    <ul class="list-unstyled">
                        <li class="font-size-sm mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail text-muted mr-2" style="width: .875rem; height: .875rem;"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><a class="nav-link-inline" href="mailto:ivashchuk67@gmail.com">ivashchuk67@gmail.com</a></li>
                        <li class="font-size-sm mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone text-muted mr-2" style="width: .875rem; height: .875rem;"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg><a class="nav-link-inline" href="tel:+380955350318">+380 95 53 50 318</a></li>
                    </ul>
                </div>
            </div>
            <!-- Main content-->
            <div class="col-lg-8 offset-xl-1">
                <!-- Customer details-->
                <div class="d-flex flex-wrap justify-content-between pb-4">
                    <div class="pt-3 mr-3">
                        <h3 class="mb-0">@Model.user.first_name @Model.user.last_name</h3><span class="font-size-sm text-warning">@Model.user.email</span>
                    </div>
                    <form method="post" asp-controller="Account" asp-action="LogOff">
                        <div class="pt-3"><button class="btn btn-outline-primary btn-sm" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out mr-1"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>Вихід</button></div>
                    </form>
                </div>
                <ul class="list-unstyled border p-3 mb-4">
                    <li class="pb-1"><span class="opacity-80">– Дата реєстрації:</span><span class="font-weight-semibold ml-1">@Model.user.RegisterTime.ToShortDateString()</span></li>
                    <li class="pb-1"><span class="opacity-80">– Кількість заказів:</span><span class="font-weight-semibold ml-1">@Model.quantityOrders</span></li>
                    <li class="pb-1"><span class="opacity-80">– Вартість покупок:</span><span class="font-weight-semibold ml-1">@Model.SumPriceOders грн</span></li>
                </ul>
                <!-- Navigation (visible sm-up)-->
                <ul class="nav nav-tabs d-none d-sm-flex">
                    <li class="nav-item"><a class="nav-link" asp-controller="MyCabinet" asp-action="Index"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>&nbsp;Мої закази<span class="badge badge-pill badge-secondary bg-0 border ml-2"><span class="text-primary">1</span></span></a></li>
                    <li class="nav-item"><a class="nav-link active" asp-controller="MyCabinet" asp-action="WishList"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>&nbsp;Вподобані<span class="badge badge-pill badge-secondary bg-0 border ml-2"><span class="text-primary">3</span></span></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>&nbsp;Налаштування аккаунта</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="AccountSet" asp-action="Index">Профіль</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" asp-controller="AccountSet" asp-action="AddressSet">Адреса</a>
                        </div>
                    </li>
                </ul>
                <!-- Navigation (visible sm-down)-->
                <div class="d-sm-none pb-4">
                    <button class="btn btn-primary btn-block mb-2" type="button" data-toggle="collapse" data-target="#account-menu"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu mr-2"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>Menu</button>
                    <div class="collapse" id="account-menu">
                        <div class="list-group"><a class="list-group-item list-group-item-action active" href="account-orders.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag mr-2" style="width: 1rem; height: 1rem;"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>My orders<span class="badge badge-pill badge-secondary bg-0 border ml-2"><span class="text-primary">1</span></span></a><a class="list-group-item list-group-item-action" href="account-wishlist.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart mr-2" style="width: 1rem; height: 1rem;"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>Wishlist<span class="badge badge-pill badge-secondary bg-0 border ml-2"><span class="text-primary">3</span></span></a><a class="list-group-item list-group-item-action" href="account-profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-2" style="width: 1rem; height: 1rem;"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>Profile info</a><a class="list-group-item list-group-item-action" href="account-address.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin mr-2" style="width: 1rem; height: 1rem;"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>Addresses</a><a class="list-group-item list-group-item-action" href="account-payment.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-2" style="width: 1rem; height: 1rem;"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>Payment methods</a></div>
                    </div>
                </div>
                <!-- Orders table-->
             
                <div class="d-sm-flex justify-content-between my-4 pb-4 border-bottom">
                    <div class="media d-block d-sm-flex text-center text-sm-left">
                        <a class="cart-item-thumb mx-auto mr-sm-4" href="shop-single-apparel.html"><img src="img/shop/apparel/cart/01.jpg" alt="Product"></a>
                        <div class="media-body pt-3">
                            <h3 class="product-card-title font-weight-semibold border-0 pb-0"><a href="shop-single-apparel.html">Calvin Klein Jeans Keds</a></h3>
                            <div class="font-size-sm"><span class="text-muted mr-2">Size:</span>8.5</div>
                            <div class="font-size-sm"><span class="text-muted mr-2">Color:</span>Black</div>
                            <div class="font-size-lg text-primary pt-2">$125.00</div>
                        </div>
                    </div>
                    <div class="pt-2 pl-sm-3 mx-auto mx-sm-0 text-center text-sm-left" style="max-width: 10rem;">
                        <button class="btn btn-outline-danger btn-sm btn-block" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2 mr-1"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>Видалити</button>
                    </div>
                </div>
             
                <!-- Pagination-->
                <!-- Technical support + Tickets (visible Mobile)-->
                <div class="d-lg-none bg-secondary px-3 py-4 mt-5">
                    <h6 class="font-size-sm mb-3 pb-2 border-bottom">Технічна підтримка</h6>
                    <ul class="list-unstyled">
                        <li class="font-size-sm mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail text-muted mr-2" style="width: .875rem; height: .875rem;"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg><a class="nav-link-inline" href="mailto:ivashchuk67@gmail.com">ivashchuk67@gmail.com</a></li>
                        <li class="font-size-sm mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone text-muted mr-2" style="width: .875rem; height: .875rem;"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg><a class="nav-link-inline" href="tel:+380955350318">+380955350318</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ms-customizer-backdrop">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>

    @RenderBody()
    <footer class="py-5 bg-dark">
        <p class="m-0 text-center text-white">© 2019 Всі права захищені</p>
    </footer>

    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/css/jquery.min.js"></script>

    <script src="~/css/bootstrap.bundle.min.js"></script>
    <script src="js/vendor.min.js"></script>
    <script src="~/js/theme.min.js"></script>
    <script src="~/js/customizer.min.js"></script>
</body>
</html>
