

<div class="d-flex flex-wrap justify-content-center justify-content-sm-between pb-3">
    <div class="d-flex flex-wrap">
        <div class="form-inline flex-nowrap mr-3 mr-sm-4 pb-3">
            <label class="text-nowrap mr-2 d-none d-sm-block" for="sorting">Сорутування:</label>
            <select class="form-control custom-select" id="sorting">
                <option>Популярні</option>
                <option>По рейтингу</option>
                <option>Від дешевих до дорогих</option>
                <option>Від дорогих до дешевих</option>
            </select>
        </div>
</div>
 </div>
<br />
<div class="row mt-5 mb-2">
    @{
        foreach (Goods item in Model.AllGoods)
        {
            @Html.Partial("AllGoods", item);
        }

    }
</div>
@model GoodsListViewModel
@section Footer {
    <h3 class="my-4">Фільтр</h3>
    <form method="get">
        <div class="form-group">
            <label class="control-label">Імя: </label>
            @Html.TextBox("name", Model.Name, htmlAttributes: new { @class = "form-control" })

            <label class="control-label">Категорія: </label>
            @Html.DropDownList("categories1", Model.categories1 as SelectList,
                    htmlAttributes: new { @class = "form-control" })

            <label class="control-label">Ціна: </label>
            <p>Від</p>
            @Html.TextBox("price_min", Model.price_min, htmlAttributes: new { @class = "form-control" })
            <p>До</p>
            @Html.TextBox("price_max", Model.price_max, htmlAttributes: new { @class = "form-control" })
            <br />

            <input type="submit" value="Застосувати" class="btn btn-dark btn-block btn-lg" />
        </div>
    </form>
}